n8n-workflows/03_control_agent.json
{
  "name": "03_control_agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "control-agent",
        "options": {}
      },
      "id": "34471fbf-842b-4a48-8997-b4ae3dd789bc",
      "name": "Webhook: Receive Control Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -672,
        128
      ],
      "webhookId": "control-agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '03_control_agent', event_type: 'CONTROL_ACTION_DISPATCHED', thing_id: $json.control_command.thing_id, action: $json.control_command.command, risk_score: $json.risk_analysis?.risk_score || 0, trigger: ($json.control_command.reason || []).join(','), details: $json.control_command, timestamp: $json.control_command.issued_at }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "f9895cb8-0e17-4c63-ace8-4a3af686286d",
      "name": "Audit Control Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -224,
        32
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ ($env.DITTO_BASE_URL || 'http://docker-nginx-1') + '/api/2/things/' + $json.thing_id + '/' + $json.path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.value) }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "8b460d7e-ee6f-41e2-b19b-2d4464a7ef10",
      "name": "PUT Desired State to Ditto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        224
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "onError": "continueErrorOutput",
      "credentials": {
        "httpBasicAuth": {
          "id": "DHKgydzDWawM8nkx",
          "name": "Authentication"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO control_command_log (command_id, correlation_id, thing_id, command, requested_by, source_agent, reason, risk_score, status, created_at, metadata) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, COALESCE($10::timestamptz, NOW()), $11::jsonb) ON CONFLICT (command_id) DO UPDATE SET status = EXCLUDED.status, metadata = control_command_log.metadata || EXCLUDED.metadata;",
        "options": {
          "queryReplacement": "={{ [$json.control_command.command_id, $json.control_command.correlation_id, $json.control_command.thing_id, $json.control_command.command || 'UNKNOWN', $json.control_command.requested_by || $json.control_command.source_agent, $json.control_command.source_agent, ($json.control_command.reason || []).join(','), Number($json.control_command.risk_score || 0), $json.control_command.status, $json.control_command.issued_at, JSON.stringify({ rejection_reasons: $json.control_command.rejection_reasons || [], writes: ($json.control_command.writes || []).map(function(w){ return { path: w.path }; }), label: $json.control_command.label, priority: $json.control_command.priority, validated_at: $json.control_command.validated_at }) ] }}"
        }
      },
      "id": "c1b9a611-7f10-4d83-a1ee-0b4d6e1c3a01",
      "name": "Persist Control Command State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        224
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "Y3xIBg0WwpRKadx2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.control_command.status }}",
              "value2": "VALIDATED"
            }
          ]
        }
      },
      "id": "c1b9a611-7f10-4d83-a1ee-0b4d6e1c3a02",
      "name": "Route: Control Validated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '03_control_agent', event_type: 'CONTROL_COMMAND_REJECTED', status: 'REJECTED', thing_id: $json.control_command.thing_id, action: $json.control_command.command || 'UNKNOWN', risk_score: $json.control_command.risk_score || 0, trigger: ($json.control_command.reason || []).join(','), error_message: ($json.control_command.rejection_reasons || []).join(','), correlation_id: $json.control_command.correlation_id, details: $json.control_command, timestamp: $json.control_command.issued_at }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "c1b9a611-7f10-4d83-a1ee-0b4d6e1c3a03",
      "name": "Audit Control Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        32
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '03_control_agent', event_type: 'CONTROL_WRITE_SUCCEEDED', thing_id: $json.thing_id, action: $json.command_name, details: { path: $json.path, value: $json.value, label: $json.command_label }, timestamp: $json.issued_at }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "e1473024-12f3-491a-ac51-668ca10c159e",
      "name": "Audit Successful Ditto Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        224
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '03_control_agent', event_type: 'CONTROL_WRITE_FAILED', thing_id: $json.thing_id, action: $json.command_name, details: { path: $json.path, value: $json.value, failed_at: $json.failed_at }, timestamp: $json.issued_at }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "f76ad734-4916-44f1-a8ac-960b75f68b25",
      "name": "Audit Failed Ditto Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -448,
        448
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const rawInput = $input.first().json || {};\nconst input = (rawInput.body && typeof rawInput.body === 'object' && (rawInput.body.triggered_action || rawInput.body.control_command)) ? rawInput.body : rawInput;\nconst action = input.triggered_action || input.control_command || {};\nconst payload = input.payload || {};\nconst cabin = payload.cabin || {};\nconst security = payload.security || {};\nconst maintenance = payload.maintenance || {};\nconst now = new Date().toISOString();\n\nconst minFloor = Number($env.MIN_FLOOR ?? 0);\nconst maxFloor = Number($env.MAX_FLOOR ?? 3);\nconst groundFloor = Number($env.GROUND_FLOOR ?? 0);\nconst maxRiskAutoControl = Number($env.MAX_RISK_AUTO_CONTROL ?? 85);\nconst thingId = input.thing_id || action.thing_id || input.control_command?.thing_id || $env.PRIMARY_THING_ID || 'building:floor1:elevator';\nconst command = action.command;\nconst riskScore = Number(action.risk_score ?? input.risk_analysis?.risk_score ?? input.risk_score ?? 0);\nconst sourceAgent = action.source_agent || input.agent_source || input.metadata?.workflow || 'unknown_agent';\nconst reason = Array.isArray(action.reason) ? action.reason : [action.reason].filter(Boolean);\nconst commandId = action.command_id || `CMD-${thingId.replace(/[^a-zA-Z0-9]/g, '-')}-${Date.now()}`;\nconst providedCorrelationId = action.correlation_id || input.correlation_id;\nconst correlationId = providedCorrelationId || `CID-CTL-FALLBACK-${commandId}`;\nconst requestedBy = action.requested_by || sourceAgent;\nconst humanApproved = action.human_approved === true || action.approved_by;\n\nconst allowed = new Set([\n  'EMERGENCY_STOP',\n  'LOCKDOWN',\n  'REPOSITION',\n  'RESTRICT_LOAD',\n  'MAINTENANCE_MODE',\n  'RESUME_NORMAL',\n  'FIRE_RECALL_TO_GROUND',\n  'DOOR_HOLD_OPEN',\n  'DOOR_CLOSE_SAFE',\n  'SET_ENERGY_SAVING_MODE',\n  'CLEAR_SECURITY_ALERT',\n  'ACKNOWLEDGE_INCIDENT'\n]);\n\nconst rejectionReasons = [];\nconst writes = [];\nlet label = command || 'UNKNOWN';\n\nif (!allowed.has(command)) rejectionReasons.push(`UNSUPPORTED_COMMAND:${command || 'missing'}`);\nif (!thingId) rejectionReasons.push('MISSING_THING_ID');\nif (!providedCorrelationId) rejectionReasons.push('MISSING_CORRELATION_ID');\nif (!sourceAgent) rejectionReasons.push('MISSING_SOURCE_AGENT');\nif (reason.length === 0) rejectionReasons.push('MISSING_REASON');\n\nconst movementCommands = new Set(['REPOSITION', 'FIRE_RECALL_TO_GROUND']);\nif (movementCommands.has(command) && input.system_mode === 'LOCKDOWN') rejectionReasons.push('MOVEMENT_BLOCKED_LOCKDOWN');\nif (movementCommands.has(command) && cabin.emergency_stop) rejectionReasons.push('MOVEMENT_BLOCKED_EMERGENCY_STOP');\n\nif (command === 'REPOSITION') {\n  const targetFloor = Number(action.target_floor);\n  if (!Number.isInteger(targetFloor) || targetFloor < minFloor || targetFloor > maxFloor) {\n    rejectionReasons.push(`TARGET_FLOOR_OUT_OF_RANGE:${action.target_floor}`);\n  } else {\n    label = `Reposition elevator to floor ${targetFloor}`;\n    writes.push({ path: 'features/cabin/properties/target_floor', value: targetFloor });\n  }\n}\n\nif (command === 'RESUME_NORMAL') {\n  const unresolvedCritical = security.active_security_incident ||\n    String(security.alert_level || '').toUpperCase() === 'CRITICAL' ||\n    maintenance.active_critical_issue === true ||\n    input.risk_analysis?.severity === 'CRITICAL';\n  if (unresolvedCritical && !humanApproved) rejectionReasons.push('RESUME_REQUIRES_HUMAN_CLEARANCE');\n}\n\nconst criticalSafetyCommands = new Set(['EMERGENCY_STOP', 'LOCKDOWN', 'FIRE_RECALL_TO_GROUND']);\nif (riskScore >= maxRiskAutoControl && !humanApproved && !criticalSafetyCommands.has(command)) {\n  rejectionReasons.push('AUTO_CONTROL_REQUIRES_HUMAN_APPROVAL');\n}\n\nswitch (command) {\n  case 'EMERGENCY_STOP':\n    label = 'Emergency stop asserted';\n    writes.push({ path: 'features/cabin/properties/emergency_stop', value: true });\n    writes.push({ path: 'attributes/system_mode', value: 'MAINTENANCE' });\n    break;\n  case 'LOCKDOWN':\n    label = 'Security lockdown asserted';\n    writes.push({ path: 'features/cabin/properties/emergency_stop', value: true });\n    writes.push({ path: 'features/security/properties/alert_level', value: 'CRITICAL' });\n    writes.push({ path: 'features/security/properties/active_security_incident', value: true });\n    writes.push({ path: 'attributes/system_mode', value: 'LOCKDOWN' });\n    break;\n  case 'RESTRICT_LOAD':\n    label = 'Restrict load pending manual clearance';\n    writes.push({ path: 'features/cabin/properties/emergency_stop', value: true });\n    writes.push({ path: 'features/cabin/properties/load_restricted', value: true });\n    writes.push({ path: 'attributes/system_mode', value: 'MAINTENANCE' });\n    break;\n  case 'MAINTENANCE_MODE':\n    label = 'Place elevator into maintenance mode';\n    writes.push({ path: 'features/cabin/properties/emergency_stop', value: true });\n    writes.push({ path: 'attributes/system_mode', value: 'MAINTENANCE' });\n    break;\n  case 'RESUME_NORMAL':\n    label = 'Resume normal service';\n    writes.push({ path: 'features/cabin/properties/emergency_stop', value: false });\n    writes.push({ path: 'features/cabin/properties/load_restricted', value: false });\n    writes.push({ path: 'attributes/system_mode', value: 'NORMAL' });\n    break;\n  case 'FIRE_RECALL_TO_GROUND':\n    label = `Fire recall to floor ${groundFloor}`;\n    writes.push({ path: 'features/cabin/properties/target_floor', value: groundFloor });\n    writes.push({ path: 'features/fire_safety/properties/recall_active', value: true });\n    writes.push({ path: 'attributes/system_mode', value: 'DEGRADED' });\n    break;\n  case 'DOOR_HOLD_OPEN':\n    label = 'Hold door open for controlled access';\n    writes.push({ path: 'features/door/properties/hold_open', value: true });\n    break;\n  case 'DOOR_CLOSE_SAFE':\n    label = 'Request safe door close';\n    writes.push({ path: 'features/door/properties/close_requested', value: true });\n    writes.push({ path: 'features/door/properties/hold_open', value: false });\n    break;\n  case 'SET_ENERGY_SAVING_MODE':\n    label = 'Enable energy saving mode';\n    writes.push({ path: 'features/optimization/properties/energy_mode', value: 'SAVING' });\n    break;\n  case 'CLEAR_SECURITY_ALERT':\n    label = 'Clear security alert after review';\n    if (!humanApproved) rejectionReasons.push('CLEAR_SECURITY_ALERT_REQUIRES_HUMAN_APPROVAL');\n    writes.push({ path: 'features/security/properties/active_security_incident', value: false });\n    writes.push({ path: 'features/security/properties/alert_level', value: 'NORMAL' });\n    break;\n  case 'ACKNOWLEDGE_INCIDENT':\n    label = 'Acknowledge active incident';\n    writes.push({ path: 'features/security/properties/last_review_at', value: now });\n    writes.push({ path: 'features/security/properties/human_review_required', value: false });\n    break;\n}\n\nconst status = rejectionReasons.length > 0 ? 'REJECTED' : 'VALIDATED';\n\nreturn [{\n  json: {\n    ...input,\n    control_command: {\n      command_id: commandId,\n      correlation_id: correlationId,\n      thing_id: thingId,\n      command,\n      label,\n      priority: action.priority || 'MEDIUM',\n      requested_by: requestedBy,\n      source_agent: sourceAgent,\n      reason,\n      risk_score: riskScore,\n      status,\n      issued_at: action.issued_at || now,\n      validated_at: now,\n      rejection_reasons: rejectionReasons,\n      writes: status === 'VALIDATED' ? writes : []\n    },\n    control_rejected: status === 'REJECTED'\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ],
      "id": "6acf9ef8-eb98-4506-8a1a-c2a481eb3d01",
      "name": "Control Safety Gate"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst command = input.control_command || {};\n\nif (command.status !== 'VALIDATED') {\n  return [];\n}\n\nreturn (command.writes || []).map((write, index) => ({\n  json: {\n    ...input,\n    write_index: index,\n    thing_id: command.thing_id,\n    correlation_id: command.correlation_id,\n    command_id: command.command_id,\n    command_name: command.command,\n    command_label: command.label,\n    command_status: 'DISPATCHED',\n    path: write.path,\n    value: write.value,\n    issued_at: command.issued_at,\n    audit_payload: {\n      command_id: command.command_id,\n      correlation_id: command.correlation_id,\n      thing_id: command.thing_id,\n      command: command.command,\n      requested_by: command.requested_by,\n      source_agent: command.source_agent,\n      reason: command.reason,\n      risk_score: command.risk_score,\n      ditto_path: write.path,\n      value: write.value\n    }\n  }\n}));\n\r\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        224
      ],
      "id": "a446550a-c584-478d-b8fa-79e23e55103f",
      "name": "Explode Ditto Writes"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, dead_letter: true, failed_at: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        448
      ],
      "id": "a2c7042e-e975-4751-945f-d6ba8798c64e",
      "name": "Dead-Letter Control Write"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Receive Control Command": {
      "main": [
        [
          {
            "node": "Control Safety Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT Desired State to Ditto": {
      "main": [
        [
          {
            "node": "Audit Successful Ditto Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dead-Letter Control Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Ditto Writes": {
      "main": [
        [
          {
            "node": "PUT Desired State to Ditto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dead-Letter Control Write": {
      "main": [
        [
          {
            "node": "Audit Failed Ditto Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Safety Gate": {
      "main": [
        [
          {
            "node": "Persist Control Command State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route: Control Validated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Control Validated?": {
      "main": [
        [
          {
            "node": "Audit Control Dispatch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Explode Ditto Writes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Control Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "82520906-20aa-4690-bce0-801d18606c44",
  "meta": {
    "instanceId": "417ede3735a1a3ac213ca021cd26620099d309138c4710d0d002e06e112f89de"
  },
  "id": "fYSnnxjFFZ1KKXZK",
  "tags": []
}
