workflows/n8n/01_ingestion_surveillance_agent.json
{
  "name": "01_ingestion_surveillance_agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "83d444f9-99e1-41fd-ab21-122635e49a4e",
      "name": "Schedule: Poll Ditto Every 5s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4912,
        3504
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.DITTO_BASE_URL || 'http://docker-nginx-1') + '/api/2/things/' + ($env.PRIMARY_THING_ID || 'building:floor1:elevator') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "458bf514-461f-4b51-bd93-e6fc4f38539a",
      "name": "GET Current Thing from Ditto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4688,
        3504
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "httpBasicAuth": {
          "id": "DHKgydzDWawM8nkx",
          "name": "Authentication"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json._db_query }}",
        "options": {
          "queryReplacement": "={{ $json._db_params }}"
        }
      },
      "id": "aca0e5d7-2301-469e-b806-2bf1941cf02a",
      "name": "Archive Telemetry to Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3792,
        3408
      ],
      "credentials": {
        "postgres": {
          "id": "Y3xIBg0WwpRKadx2",
          "name": "Postgres account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Dedupe & Update Timeline').item.json.event_type }}",
              "operation": "notEqual",
              "value2": "TELEMETRY_UPDATE"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $('Dedupe & Update Timeline').item.json.duplicate }}",
              "value2": false
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "5b518164-c99d-4b1b-9e89-f979403d34b8",
      "name": "Route: Significant Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3568,
        3312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_INTERNAL_URL || 'http://n8n:5678') }}/webhook/analysis-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Dedupe & Update Timeline').item.json) }}",
        "options": {
          "timeout": 5000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "0ec3796e-3100-4316-a945-be1dfb718c90",
      "name": "Queue Analysis Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3344,
        3312
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_INTERNAL_URL || 'http://n8n:5678') }}/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '01_ingestion_surveillance_agent', event_type: $('Dedupe & Update Timeline').item.json.event_type, thing_id: $('Dedupe & Update Timeline').item.json.thing_id, correlation_id: $('Dedupe & Update Timeline').item.json.correlation_id, risk_score: $('Dedupe & Update Timeline').item.json.risk_score || 0, system_mode: $('Dedupe & Update Timeline').item.json.system_mode, status: 'SUCCESS', details: $('Dedupe & Update Timeline').item.json, timestamp: $('Dedupe & Update Timeline').item.json.timestamp }) }}",
        "options": {
          "timeout": 5000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "68ab344d-7ce3-4eb8-9b2d-2382dc2774ce",
      "name": "Queue Audit Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3568,
        3504
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst now = new Date();\nconst timestamp = now.toISOString();\n\nconst stableStringify = (value) => {\n  if (Array.isArray(value)) return `[${value.map(stableStringify).join(',')}]`;\n  if (value && typeof value === 'object') {\n    return `{${Object.keys(value).sort().map((key) => `${JSON.stringify(key)}:${stableStringify(value[key])}`).join(',')}}`;\n  }\n  return JSON.stringify(value);\n};\n\nconst hashText = (text) => {\n  let hash = 2166136261;\n  for (let i = 0; i < text.length; i += 1) {\n    hash ^= text.charCodeAt(i);\n    hash = Math.imul(hash, 16777619);\n  }\n  return (hash >>> 0).toString(16).padStart(8, '0');\n};\n\nconst numberOr = (value, fallback = 0) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n};\n\nconst boolOr = (value, fallback = false) => {\n  if (value === undefined || value === null || value === '') return fallback;\n  return value === true || value === 'true' || value === 1 || value === '1';\n};\n\nif (!body || typeof body !== 'object' || (!body.thingId && !body.features)) {\n  const correlationId = `CID-DITTO-INVALID-${now.getTime()}`;\n  return [{\n    json: {\n      correlation_id: correlationId,\n      event_id: `EVT-DITTO-INVALID-${now.getTime()}`,\n      thing_id: $env.PRIMARY_THING_ID || 'building:floor1:elevator',\n      agent_source: '01_ingestion_surveillance_agent',\n      event_type: 'AUDIT_EVENT',\n      severity: 'WARNING',\n      timestamp,\n      system_mode: 'DEGRADED',\n      risk_score: 0,\n      payload: {\n        health: {\n          component: 'ditto',\n          status: 'DEGRADED',\n          reason: 'INVALID_DITTO_RESPONSE'\n        }\n      },\n      risk_analysis: {},\n      triggered_action: {},\n      metadata: {\n        workflow: '01_ingestion_surveillance_agent',\n        node: 'Canonicalize Twin Event',\n        schema_version: '1.0',\n        source: 'ditto_poll'\n      },\n      raw_thing: body,\n      duplicate_hash: hashText(stableStringify(body)),\n      duplicate: false,\n      processing_status: 'INVALID_DITTO_RESPONSE'\n    }\n  }];\n}\n\nconst features = body.features || {};\nconst attributes = body.attributes || {};\nconst cabinRaw = features.cabin?.properties || {};\nconst doorRaw = features.door?.properties || {};\nconst motorRaw = features.motor?.properties || {};\nconst securityRaw = features.security?.properties || {};\nconst thingId = body.thingId || attributes.thing_id || $env.PRIMARY_THING_ID || 'building:floor1:elevator';\nconst thingToken = thingId.replace(/[^a-zA-Z0-9]/g, '-');\nconst correlationId = body.correlation_id || attributes.correlation_id || `CID-${thingToken}-${now.getTime()}`;\n\nconst cabin = {\n  current_floor: numberOr(cabinRaw.current_floor, 0),\n  target_floor: numberOr(cabinRaw.target_floor ?? cabinRaw.current_floor, 0),\n  direction: cabinRaw.direction || 'IDLE',\n  load_kg: numberOr(cabinRaw.load_kg ?? cabinRaw.payload_weight_kg, 0),\n  max_load_kg: numberOr(cabinRaw.max_load_kg, 800),\n  speed_ms: numberOr(cabinRaw.speed_ms, 0),\n  temperature_c: numberOr(cabinRaw.temperature_c, 22),\n  emergency_stop: boolOr(cabinRaw.emergency_stop, false),\n  between_floors: boolOr(cabinRaw.between_floors, false)\n};\n\nconst door = {\n  state: doorRaw.state || 'UNKNOWN',\n  forced_entry: boolOr(doorRaw.forced_entry ?? doorRaw.door_forced_entry, false),\n  cycle_count: numberOr(doorRaw.cycle_count, 0),\n  force_sensor_n: numberOr(doorRaw.force_sensor_n, 0),\n  blocked: boolOr(doorRaw.blocked, false)\n};\n\nconst motor = {\n  vibration_g: numberOr(motorRaw.vibration_g ?? motorRaw.vibration_level ?? motorRaw.vibration_ms2, 0),\n  vibration_baseline_g: numberOr(motorRaw.vibration_baseline_g ?? motorRaw.vibration_baseline_ms2, 0.05),\n  temperature_c: numberOr(motorRaw.temperature_c, 0),\n  hours_operated: numberOr(motorRaw.hours_operated ?? motorRaw.run_hours, 0),\n  current_draw_a: numberOr(motorRaw.current_draw_a, 0),\n  power_kw: numberOr(motorRaw.power_kw, 0),\n  health_status: motorRaw.health_status || 'UNKNOWN'\n};\n\nconst security = {\n  audio_distress: boolOr(securityRaw.audio_distress_active ?? securityRaw.audio_distress_detected, false),\n  rfid_last_card: securityRaw.rfid_last_card || '',\n  rfid_access_granted: boolOr(securityRaw.rfid_access_granted, true),\n  unauthorized_access_attempts: numberOr(securityRaw.unauthorized_access_attempts, 0),\n  alert_level: securityRaw.alert_level || 'NORMAL',\n  state: securityRaw.state || 'NORMAL'\n};\n\nlet eventType = 'TELEMETRY_UPDATE';\nlet severity = 'INFO';\nif (door.forced_entry || security.audio_distress) {\n  eventType = 'SECURITY_BREACH';\n  severity = 'CRITICAL';\n} else if (motor.vibration_g > motor.vibration_baseline_g * 2.5 || motor.temperature_c > 85 || cabin.emergency_stop) {\n  eventType = 'ANOMALY_DETECTED';\n  severity = 'WARNING';\n}\n\nconst payload = { cabin, door, motor, security };\nconst duplicateHash = hashText(stableStringify({\n  thing_id: thingId,\n  system_mode: attributes.system_mode || 'NORMAL',\n  payload\n}));\n\nreturn [{\n  json: {\n    correlation_id: correlationId,\n    event_id: `EVT-${thingToken}-${now.getTime()}`,\n    thing_id: thingId,\n    agent_source: '01_ingestion_surveillance_agent',\n    event_type: eventType,\n    severity,\n    timestamp,\n    system_mode: attributes.system_mode || 'NORMAL',\n    risk_score: 0,\n    payload,\n    risk_analysis: {},\n    triggered_action: {},\n    metadata: {\n      workflow: '01_ingestion_surveillance_agent',\n      node: 'Canonicalize Twin Event',\n      schema_version: '1.0',\n      source: 'ditto_poll'\n    },\n    timeline_entry: {\n      ts: timestamp,\n      floor: cabin.current_floor,\n      direction: cabin.direction,\n      load_kg: cabin.load_kg,\n      door_state: door.state,\n      motor_temp_c: motor.temperature_c,\n      motor_vibration_g: motor.vibration_g,\n      power_kw: motor.power_kw,\n      forced_entry: door.forced_entry,\n      audio_distress: security.audio_distress,\n      emergency_stop: cabin.emergency_stop\n    },\n    raw_thing: body,\n    duplicate_hash: duplicateHash,\n    duplicate: false,\n    processing_status: 'RECORDED'\n  }\n}];\n\r\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4464,
        3408
      ],
      "id": "f0682bcb-0d22-4984-a8f7-3448155254f8",
      "name": "Canonicalize Twin Event"
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\nconst state = $getWorkflowStaticData('global');\nconst thingId = event.thing_id || 'unknown';\nconst key = `ingestion:${thingId}`;\nconst now = Date.now();\n\nstate[key] = state[key] || {\n  last_duplicate_hash: null,\n  behavior_timeline: [],\n  ditto_failures: []\n};\n\nconst memory = state[key];\nconst isDuplicate = !!event.duplicate_hash && memory.last_duplicate_hash === event.duplicate_hash;\nmemory.last_duplicate_hash = event.duplicate_hash || memory.last_duplicate_hash;\n\nif (event.timeline_entry) {\n  memory.behavior_timeline.push(event.timeline_entry);\n}\n\nconst cutoff = now - 60_000;\nmemory.behavior_timeline = memory.behavior_timeline\n  .filter((entry) => Number.isFinite(new Date(entry.ts).getTime()) && new Date(entry.ts).getTime() >= cutoff)\n  .slice(-120);\n\nconst cabin = event.payload?.cabin || {};\nconst door = event.payload?.door || {};\nconst motor = event.payload?.motor || {};\nconst security = event.payload?.security || {};\nconst riskSeed = (\n  (door.forced_entry ? 45 : 0) +\n  (security.audio_distress ? 40 : 0) +\n  (cabin.emergency_stop ? 30 : 0) +\n  (motor.temperature_c > 85 ? 20 : 0) +\n  (motor.vibration_g > motor.vibration_baseline_g * 2.5 ? 20 : 0)\n);\n\nstate[key] = memory;\n\nreturn [{\n  json: {\n    ...event,\n    duplicate: isDuplicate,\n    processing_status: isDuplicate ? 'DUPLICATE' : event.processing_status || 'RECORDED',\n    risk_score: Math.min(100, riskSeed),\n    behavior_timeline: memory.behavior_timeline,\n    metadata: {\n      ...(event.metadata || {}),\n      duplicate_window_seconds: 60,\n      duplicate_detected: isDuplicate\n    }\n  }\n}];\n\r\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4240,
        3408
      ],
      "id": "70000a6d-065d-4127-a86d-8c81a36adfaa",
      "name": "Dedupe & Update Timeline"
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\nconst p = event.payload || {};\nconst c = p.cabin || {};\nconst d = p.door || {};\nconst m = p.motor || {};\nconst s = p.security || {};\n\nconst n = (value) => {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : null;\n};\n\nconst b = (value) => value === true || value === 'true' || value === 1 || value === '1';\n\nevent._db_query = `\nINSERT INTO telemetry_raw (\n  time, thing_id, event_id, event_type, system_mode,\n  current_floor, target_floor, load_kg, speed_ms, door_state,\n  forced_entry, audio_distress, motor_temp_c, vibration_g,\n  power_kw, current_draw_a, hours_operated, risk_score, raw_payload,\n  correlation_id, duplicate_hash, source, schema_version,\n  processing_status, duplicate, agent_source, severity, metadata\n) VALUES (\n  $1::timestamptz, $2, $3, $4, $5,\n  $6::smallint, $7::smallint, $8::real, $9::real, $10,\n  $11::boolean, $12::boolean, $13::real, $14::real,\n  $15::real, $16::real, $17::real, $18::smallint, $19::jsonb,\n  $20, $21, $22, $23,\n  $24, $25::boolean, $26, $27, $28::jsonb\n) ON CONFLICT (event_id) DO UPDATE SET\n  processing_status = EXCLUDED.processing_status,\n  duplicate = EXCLUDED.duplicate,\n  metadata = telemetry_raw.metadata || EXCLUDED.metadata;\n`;\n\nevent._db_params = [\n  event.timestamp || new Date().toISOString(),\n  event.thing_id,\n  event.event_id,\n  event.event_type,\n  event.system_mode || 'NORMAL',\n  n(c.current_floor),\n  n(c.target_floor),\n  n(c.load_kg),\n  n(c.speed_ms),\n  d.state || 'UNKNOWN',\n  b(d.forced_entry),\n  b(s.audio_distress),\n  n(m.temperature_c),\n  n(m.vibration_g),\n  n(m.power_kw),\n  n(m.current_draw_a),\n  n(m.hours_operated),\n  n(event.risk_score || event.risk_analysis?.risk_score || 0),\n  JSON.stringify(event),\n  event.correlation_id,\n  event.duplicate_hash,\n  event.metadata?.source || 'ditto_poll',\n  event.metadata?.schema_version || '1.0',\n  event.processing_status || 'RECORDED',\n  b(event.duplicate),\n  event.agent_source || '01_ingestion_surveillance_agent',\n  event.severity || 'INFO',\n  JSON.stringify(event.metadata || {})\n];\n\nreturn [{ json: event }];\n\r\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4016,
        3408
      ],
      "id": "48ea3062-a13c-4a80-b242-7a90835280db",
      "name": "Prepare DB Row"
    },
    {
      "parameters": {
        "jsCode": "const state = $getWorkflowStaticData('global');\nconst input = $input.first().json || {};\nconst now = new Date().toISOString();\nconst thingId = $env.PRIMARY_THING_ID || 'building:floor1:elevator';\nconst key = `ditto_failures:${thingId}`;\nstate[key] = (state[key] || 0) + 1;\nreturn [{\n  json: {\n    agent: '01_ingestion_surveillance_agent',\n    event_type: 'INGESTION_PIPELINE_FAILURE',\n    status: 'FAILED',\n    severity: 'WARNING',\n    thing_id: thingId,\n    correlation_id: `CID-INGESTION-FAIL-${Date.now()}`,\n    error_message: (input && (input.message || input.error || JSON.stringify(input))) || 'unknown_error',\n    consecutive_failures: state[key],\n    timestamp: now,\n    details: { failed_at: now, payload: input }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4464,
        3600
      ],
      "id": "fc3ed5f4-aeca-4c79-beaa-1b21fd241484",
      "name": "Dead-Letter Ingestion Failure"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_INTERNAL_URL || 'http://n8n:5678') }}/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "27a679bc-d423-45e6-862e-b04b073507ec",
      "name": "Audit Ingestion Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4240,
        3600
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: Poll Ditto Every 5s": {
      "main": [
        [
          {
            "node": "GET Current Thing from Ditto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Current Thing from Ditto": {
      "main": [
        [
          {
            "node": "Canonicalize Twin Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dead-Letter Ingestion Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dead-Letter Ingestion Failure": {
      "main": [
        [
          {
            "node": "Audit Ingestion Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Telemetry to Postgres": {
      "main": [
        [
          {
            "node": "Route: Significant Event?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Audit Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dead-Letter Ingestion Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Significant Event?": {
      "main": [
        [
          {
            "node": "Queue Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canonicalize Twin Event": {
      "main": [
        [
          {
            "node": "Dedupe & Update Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe & Update Timeline": {
      "main": [
        [
          {
            "node": "Prepare DB Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Row": {
      "main": [
        [
          {
            "node": "Archive Telemetry to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Africa/Algiers",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3f7ba25c-f771-4b3e-8643-ded892aefefc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "417ede3735a1a3ac213ca021cd26620099d309138c4710d0d002e06e112f89de"
  },
  "id": "TZGSTLLctLRe52k5",
  "tags": []
}