workflows/n8n/03_control_agent.json
{
  "name": "03_control_agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "control-agent",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "9dca0b22-15bb-47b8-9a4d-fd0d25479077",
      "name": "Webhook: Receive Control Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -384,
        704
      ],
      "webhookId": "control-agent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "__SET_WEBHOOK_SECRET_CRED__",
          "name": "n8n Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '03_control_agent', event_type: 'CONTROL_ACTION_DISPATCHED', thing_id: $json.control_command.thing_id, action: $json.control_command.command, risk_score: $json.risk_analysis?.risk_score || 0, trigger: ($json.control_command.reason || []).join(','), details: $json.control_command, timestamp: $json.control_command.issued_at }) }}",
        "options": {
          "timeout": 5000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "9adfdb42-50ac-4a43-81cf-1cf928553967",
      "name": "Audit Control Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        416
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ ($env.DITTO_BASE_URL || 'http://docker-nginx-1') + '/api/2/things/' + $json.thing_id + '/' + $json.path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.value) }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "960440b7-8863-4bc7-8a4f-7a1f7ed21a28",
      "name": "PUT Desired State to Ditto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        512,
        800
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "httpBasicAuth": {
          "id": "DHKgydzDWawM8nkx",
          "name": "Authentication"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO control_command_log (command_id, correlation_id, thing_id, command, command_label, requested_by, source_agent, source, reason, risk_score, status, decision, accepted, system_mode, current_floor, target_floor, door_state, emergency_stop, load_kg, rejection_reasons, safety_snapshot, ditto_payload, created_at, metadata) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15::integer, $16::integer, $17, $18::boolean, $19::numeric, $20::jsonb, $21::jsonb, $22::jsonb, COALESCE($23::timestamptz, NOW()), $24::jsonb) ON CONFLICT (command_id) DO UPDATE SET status = EXCLUDED.status, decision = EXCLUDED.decision, accepted = EXCLUDED.accepted, rejection_reasons = EXCLUDED.rejection_reasons, ditto_payload = EXCLUDED.ditto_payload, safety_snapshot = EXCLUDED.safety_snapshot, metadata = control_command_log.metadata || EXCLUDED.metadata;",
        "options": {
          "queryReplacement": "={{ [ $json.control_command.command_id, $json.control_command.correlation_id, $json.control_command.thing_id, $json.control_command.command || 'UNKNOWN', $json.control_command.label, $json.control_command.requested_by || $json.control_command.source_agent, $json.control_command.source_agent, $json.control_command.source || 'n8n', ($json.control_command.reason || []).join(','), Number($json.control_command.risk_score || 0), $json.control_command.status, $json.control_command.decision || ($json.control_command.status === 'VALIDATED' ? 'ACCEPTED' : 'REJECTED'), $json.control_command.accepted === true || $json.control_command.status === 'VALIDATED', ($json.control_command.safety_snapshot || {}).system_mode || $json.system_mode || 'NORMAL', ($json.control_command.safety_snapshot || {}).current_floor, ($json.control_command.safety_snapshot || {}).target_floor, ($json.control_command.safety_snapshot || {}).door_state, ($json.control_command.safety_snapshot || {}).emergency_stop, ($json.control_command.safety_snapshot || {}).load_kg, JSON.stringify($json.control_command.rejection_reasons || []), JSON.stringify($json.control_command.safety_snapshot || {}), JSON.stringify($json.control_command.writes || []), $json.control_command.issued_at, JSON.stringify({ priority: $json.control_command.priority, validated_at: $json.control_command.validated_at, source_agent: $json.control_command.source_agent, raw_command_name: $json.control_command.raw_command_name, canonical_command: $json.control_command.canonical_command }) ] }}"
        }
      },
      "id": "24dbcf21-48d9-4980-a823-b79d3b1faa61",
      "name": "Persist Control Command State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        800
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "Y3xIBg0WwpRKadx2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.control_command.status }}",
              "value2": "VALIDATED"
            }
          ]
        }
      },
      "id": "76085179-8497-4f5a-aab5-05ac4bd7faaa",
      "name": "Route: Control Validated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        64,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '03_control_agent', event_type: 'CONTROL_COMMAND_REJECTED', status: 'REJECTED', thing_id: $json.control_command.thing_id, action: $json.control_command.command || 'UNKNOWN', risk_score: $json.control_command.risk_score || 0, trigger: ($json.control_command.reason || []).join(','), error_message: ($json.control_command.rejection_reasons || []).join(','), correlation_id: $json.control_command.correlation_id, details: $json.control_command, timestamp: $json.control_command.issued_at }) }}",
        "options": {
          "timeout": 5000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "23a63c93-bc55-4844-9c2f-26dfafcf40cd",
      "name": "Audit Control Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        608
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '03_control_agent', event_type: 'CONTROL_WRITE_SUCCEEDED', thing_id: $json.thing_id, action: $json.command_name, details: { path: $json.path, value: $json.value, label: $json.command_label }, timestamp: $json.issued_at }) }}",
        "options": {
          "timeout": 5000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "284446d0-840a-44d0-bbbd-55db942fef31",
      "name": "Audit Successful Ditto Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        736,
        704
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/audit-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: '03_control_agent', event_type: 'CONTROL_WRITE_FAILED', thing_id: $json.thing_id, action: $json.command_name, details: { path: $json.path, value: $json.value, failed_at: $json.failed_at }, timestamp: $json.issued_at }) }}",
        "options": {
          "timeout": 5000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "80e0e303-c923-4314-bb13-c2fb1c11598c",
      "name": "Audit Failed Ditto Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        896
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8n control safety gate — Code node script.\n *\n * Kept self-contained (n8n Code nodes cannot require external modules).\n * The rule SET in this file is intentionally aligned with the canonical\n * packages/shared/commandSafetyGate.js module, so a command rejected by\n * one gate would be rejected by the other.\n *\n * The dashboard now routes commands through its own POST /api/commands\n * gate; this n8n gate remains the enforcement point for n8n-originated\n * commands (the analysis agent's risk-triggered actions). Both gates write\n * to the same control_command_log table.\n *\n * SAFETY PRINCIPLE: the LLM is non-authoritative. Risk explanations may\n * be LLM-generated, but command admission is purely rule-based.\n */\n\nconst rawInput = $input.first().json || {};\nconst input = (rawInput.body && typeof rawInput.body === 'object' && (rawInput.body.triggered_action || rawInput.body.control_command)) ? rawInput.body : rawInput;\nconst action = input.triggered_action || input.control_command || {};\nconst payload = input.payload || {};\nconst cabin = payload.cabin || {};\nconst door = payload.door || {};\nconst security = payload.security || {};\nconst maintenance = payload.maintenance || {};\nconst now = new Date().toISOString();\nconst nowMs = Date.now();\n\n// -----------------------------------------------------------------------------\n// Config (env-driven, with defaults matching the canonical module).\n// -----------------------------------------------------------------------------\nconst minFloor                = Number($env.MIN_FLOOR ?? 0);\nconst maxFloor                = Number($env.MAX_FLOOR ?? 3);\nconst groundFloor             = Number($env.GROUND_FLOOR ?? 0);\nconst maxRiskAutoControl      = Number($env.MAX_RISK_AUTO_CONTROL ?? 70);\nconst maxRiskOperatorControl  = Number($env.MAX_RISK_OPERATOR_CONTROL ?? 85);\nconst maxTwinAgeSeconds       = Number($env.MAX_TWIN_AGE_SECONDS ?? 10);\nconst requireReason           = String($env.COMMAND_REQUIRE_REASON ?? 'true').toLowerCase() === 'true';\n\nconst thingId = input.thing_id || action.thing_id || $env.PRIMARY_THING_ID || 'building:floor1:elevator';\nconst rawCommand = String(action.command || '').toUpperCase();\nconst riskScore = Number(action.risk_score ?? input.risk_analysis?.risk_score ?? input.risk_score ?? 0);\nconst sourceAgent = action.source_agent || input.agent_source || input.metadata?.workflow || null;\nconst providedSource = String(action.source || 'n8n').toLowerCase();\nconst reasonInput = Array.isArray(action.reason) ? action.reason\n                  : (action.reason ? [action.reason] : []);\nconst reason = reasonInput.map((r) => String(r).trim()).filter(Boolean);\n// Coalesce repeated identical autonomous commands within a short window onto a\n// single command_id, so a sustained condition UPDATEs one control_command_log\n// row (via ON CONFLICT) instead of inserting a new row + Ditto write every tick.\nconst coalesceSeconds = Number($env.COMMAND_COALESCE_SECONDS ?? 30);\nconst coalesceBucket = coalesceSeconds > 0 ? Math.floor(nowMs / (coalesceSeconds * 1000)) : nowMs;\nconst commandId = action.command_id || `CMD-${thingId.replace(/[^a-zA-Z0-9]/g, '-')}-${(rawCommand || 'CMD').replace(/[^a-zA-Z0-9]/g, '-')}-${coalesceBucket}`;\nconst providedCorrelationId = action.correlation_id || input.correlation_id;\n// Always supply a correlation_id so control_command_log (NOT NULL) accepts the row,\n// even when an autonomous source agent forgot to attach one. The MISSING_CORRELATION_ID\n// rejection reason below still flags the upstream issue for audit.\nconst correlationId = providedCorrelationId || `CID-CTL-FALLBACK-${commandId}`;\nconst requestedBy = action.requested_by || sourceAgent || providedSource;\nconst humanApproved = action.human_approved === true || !!action.approved_by;\nconst confirmation = action.confirmation === true;\n\n// -----------------------------------------------------------------------------\n// Canonical command catalogue (mirrors packages/shared/commandSafetyGate.js).\n// Each canonical entry knows its aliases, write plan, and admission rules.\n// -----------------------------------------------------------------------------\nconst ALIAS = {\n  'REPOSITION': 'MOVE_TO_FLOOR',\n  'SEND_TO_FLOOR': 'MOVE_TO_FLOOR',\n  'DOOR_HOLD_OPEN': 'OPEN_DOOR',\n  'DOOR_CLOSE_SAFE': 'CLOSE_DOOR',\n  'RESUME_NORMAL': 'RESET_EMERGENCY',\n  'RESET_NORMAL': 'RESET_EMERGENCY',\n  'RESUME_NORMAL_MODE': 'RESUME_NORMAL_MODE',\n  'CLEAR_SECURITY_ALERT': 'RELEASE_LOCKDOWN',\n  'MAINTENANCE_MODE': 'SET_MAINTENANCE_MODE',\n  'ACKNOWLEDGE_INCIDENT': 'ACKNOWLEDGE_ALERT',\n  // Pass-through for n8n-specific extensions that the dashboard catalogue does\n  // not yet model. They are kept in the allow-list so the existing automation\n  // continues to work, but they share the same audit / persistence path.\n  'FIRE_RECALL_TO_GROUND': 'FIRE_RECALL_TO_GROUND',\n  'RESTRICT_LOAD': 'RESTRICT_LOAD',\n  'SET_ENERGY_SAVING_MODE': 'SET_ENERGY_SAVING_MODE',\n};\n\nconst canonical = ALIAS[rawCommand] || (\n  rawCommand && [\n    'MOVE_TO_FLOOR','OPEN_DOOR','CLOSE_DOOR','EMERGENCY_STOP','RESET_EMERGENCY',\n    'LOCKDOWN','RELEASE_LOCKDOWN','SET_MAINTENANCE_MODE','RESUME_NORMAL_MODE',\n    'ACKNOWLEDGE_ALERT','CLEAR_RESOLVED_INCIDENT','REQUEST_STATUS_REFRESH',\n  ].includes(rawCommand) ? rawCommand : null\n);\n\nconst CRITICAL_COMMANDS = new Set([\n  'EMERGENCY_STOP','LOCKDOWN','FIRE_RECALL_TO_GROUND','SET_MAINTENANCE_MODE',\n]);\nconst MOVEMENT_COMMANDS = new Set([\n  'MOVE_TO_FLOOR','FIRE_RECALL_TO_GROUND',\n]);\nconst RECOVERY_COMMANDS = new Set([\n  'RESET_EMERGENCY','RELEASE_LOCKDOWN','RESUME_NORMAL_MODE',\n]);\n\n// -----------------------------------------------------------------------------\n// Build the safety snapshot (mirror of extractSafetySnapshot).\n// -----------------------------------------------------------------------------\nconst safetySnapshot = {\n  current_floor: cabin.current_floor ?? null,\n  target_floor: cabin.target_floor ?? null,\n  door_state: door.state ?? null,\n  emergency_stop: cabin.emergency_stop ?? null,\n  load_kg: cabin.load_kg ?? cabin.payload_weight_kg ?? null,\n  alert_level: security.alert_level ?? null,\n  system_mode: input.system_mode ?? payload.system_mode ?? null,\n  risk_score: riskScore,\n  forced_entry: door.door_forced_entry ?? door.forced_entry ?? null,\n  active_security_incident: security.active_security_incident ?? null,\n  last_telemetry_at: payload.last_telemetry_at ?? input.last_telemetry_at ?? null,\n};\n\n// -----------------------------------------------------------------------------\n// Rejection rules.\n// -----------------------------------------------------------------------------\nconst rejectionReasons = [];\n\nif (!canonical) {\n  rejectionReasons.push(`REJECTED: command not in allow-list (${rawCommand || 'missing'})`);\n}\nif (!thingId) rejectionReasons.push('REJECTED: missing thing_id');\nif (!providedCorrelationId) rejectionReasons.push('REJECTED: missing correlation_id');\nif (!sourceAgent) rejectionReasons.push('REJECTED: missing source_agent');\nif (canonical !== 'EMERGENCY_STOP' && requireReason && reason.length === 0) {\n  rejectionReasons.push('REJECTED: missing operator reason');\n}\n\n// Movement during LOCKDOWN or with emergency stop active is blocked.\nif (canonical && MOVEMENT_COMMANDS.has(canonical)) {\n  if (safetySnapshot.system_mode === 'LOCKDOWN') {\n    rejectionReasons.push('REJECTED: system in LOCKDOWN');\n  }\n  if (safetySnapshot.emergency_stop === true) {\n    rejectionReasons.push('REJECTED: emergency stop active');\n  }\n}\n\n// Recovery commands require human authority + clear of active critical incident.\nif (canonical && RECOVERY_COMMANDS.has(canonical) && !humanApproved) {\n  rejectionReasons.push('REJECTED: recovery requires human/operator source');\n}\nif (canonical && RECOVERY_COMMANDS.has(canonical)) {\n  const criticalActive = safetySnapshot.active_security_incident === true ||\n    String(safetySnapshot.alert_level || '').toUpperCase() === 'CRITICAL' ||\n    maintenance.active_critical_issue === true ||\n    String(input.risk_analysis?.severity || '').toUpperCase() === 'CRITICAL';\n  if (criticalActive && !humanApproved) {\n    rejectionReasons.push('REJECTED: recovery requires human review of active critical incident');\n  }\n}\n\n// MOVE_TO_FLOOR target validation.\nconst writes = [];\nlet label = canonical || rawCommand || 'UNKNOWN';\n\nif (canonical === 'MOVE_TO_FLOOR') {\n  const targetFloor = Number(action.target_floor);\n  if (!Number.isInteger(targetFloor) || targetFloor < minFloor || targetFloor > maxFloor) {\n    rejectionReasons.push('REJECTED: target floor outside allowed range');\n  } else {\n    label = `Move elevator to floor ${targetFloor}`;\n    writes.push({ path: 'features/cabin/properties/target_floor', value: targetFloor });\n  }\n}\n\n// Risk-threshold gating. Critical safety commands bypass risk caps.\nif (canonical && !CRITICAL_COMMANDS.has(canonical)) {\n  const isAutonomous = (providedSource === 'n8n' || providedSource === 'system');\n  const isHuman = (providedSource === 'dashboard' || providedSource === 'operator');\n  if (isAutonomous && riskScore > maxRiskAutoControl && !humanApproved) {\n    rejectionReasons.push('REJECTED: risk score above autonomous-control threshold');\n  } else if (isHuman && riskScore > maxRiskOperatorControl) {\n    rejectionReasons.push('REJECTED: risk score above allowed threshold');\n  }\n}\n\n// Stale twin (non-emergency commands only).\nconst nonEmergency = canonical && !CRITICAL_COMMANDS.has(canonical) && !RECOVERY_COMMANDS.has(canonical);\nif (nonEmergency && safetySnapshot.last_telemetry_at) {\n  const ageS = (nowMs - Date.parse(safetySnapshot.last_telemetry_at)) / 1000;\n  if (!Number.isFinite(ageS) || ageS > maxTwinAgeSeconds) {\n    rejectionReasons.push('REJECTED: stale Digital Twin state');\n  }\n}\n\n// -----------------------------------------------------------------------------\n// Ditto write plan for accepted commands.\n// -----------------------------------------------------------------------------\nif (rejectionReasons.length === 0 && canonical) {\n  switch (canonical) {\n    case 'EMERGENCY_STOP':\n      label = 'Emergency stop asserted';\n      writes.push({ path: 'features/cabin/properties/emergency_stop', value: true });\n      writes.push({ path: 'attributes/system_mode', value: 'MAINTENANCE' });\n      break;\n    case 'LOCKDOWN':\n      label = 'Security lockdown asserted';\n      writes.push({ path: 'features/cabin/properties/emergency_stop', value: true });\n      writes.push({ path: 'features/security/properties/alert_level', value: 'CRITICAL' });\n      writes.push({ path: 'features/security/properties/active_security_incident', value: true });\n      writes.push({ path: 'attributes/system_mode', value: 'LOCKDOWN' });\n      break;\n    case 'RELEASE_LOCKDOWN':\n      label = 'Lockdown released';\n      writes.push({ path: 'features/security/properties/active_security_incident', value: false });\n      writes.push({ path: 'features/security/properties/alert_level', value: 'NORMAL' });\n      writes.push({ path: 'attributes/system_mode', value: 'NORMAL' });\n      break;\n    case 'RESTRICT_LOAD':\n      label = 'Restrict load pending manual clearance';\n      writes.push({ path: 'features/cabin/properties/emergency_stop', value: true });\n      writes.push({ path: 'features/cabin/properties/load_restricted', value: true });\n      writes.push({ path: 'attributes/system_mode', value: 'MAINTENANCE' });\n      break;\n    case 'SET_MAINTENANCE_MODE':\n      label = 'Maintenance mode';\n      writes.push({ path: 'features/cabin/properties/emergency_stop', value: true });\n      writes.push({ path: 'attributes/system_mode', value: 'MAINTENANCE' });\n      break;\n    case 'RESET_EMERGENCY':\n    case 'RESUME_NORMAL_MODE':\n      label = 'Resume normal service';\n      writes.push({ path: 'features/cabin/properties/emergency_stop', value: false });\n      writes.push({ path: 'attributes/system_mode', value: 'NORMAL' });\n      break;\n    case 'FIRE_RECALL_TO_GROUND':\n      label = `Fire recall to floor ${groundFloor}`;\n      writes.push({ path: 'features/cabin/properties/target_floor', value: groundFloor });\n      writes.push({ path: 'features/fire_safety/properties/recall_active', value: true });\n      writes.push({ path: 'attributes/system_mode', value: 'DEGRADED' });\n      break;\n    case 'OPEN_DOOR':\n      label = 'Hold door open';\n      writes.push({ path: 'features/door/properties/hold_open', value: true });\n      break;\n    case 'CLOSE_DOOR':\n      label = 'Request safe door close';\n      writes.push({ path: 'features/door/properties/close_requested', value: true });\n      writes.push({ path: 'features/door/properties/hold_open', value: false });\n      break;\n    case 'SET_ENERGY_SAVING_MODE':\n      label = 'Energy saving mode';\n      writes.push({ path: 'features/optimization/properties/energy_mode', value: 'SAVING' });\n      break;\n    case 'ACKNOWLEDGE_ALERT':\n      label = 'Acknowledge active incident';\n      writes.push({ path: 'features/security/properties/last_review_at', value: now });\n      writes.push({ path: 'features/security/properties/human_review_required', value: false });\n      break;\n    case 'CLEAR_RESOLVED_INCIDENT':\n      label = 'Clear resolved incident';\n      writes.push({ path: 'features/incident_log/properties/last_resolved_id', value: String(action.incident_id || '') });\n      writes.push({ path: 'features/incident_log/properties/last_resolved_at', value: now });\n      break;\n    case 'REQUEST_STATUS_REFRESH':\n      label = 'Status refresh';\n      // No twin mutation: this is a ping for the device to publish status.\n      break;\n    case 'MOVE_TO_FLOOR':\n      // writes already pushed above during target-floor validation.\n      break;\n  }\n}\n\nconst status = rejectionReasons.length > 0 ? 'REJECTED' : 'VALIDATED';\n\nreturn [{\n  json: {\n    ...input,\n    control_command: {\n      command_id: commandId,\n      correlation_id: correlationId,\n      thing_id: thingId,\n      command: canonical || rawCommand,\n      raw_command_name: rawCommand,\n      canonical_command: canonical,\n      label,\n      priority: action.priority || 'MEDIUM',\n      requested_by: requestedBy,\n      source_agent: sourceAgent,\n      source: providedSource,\n      reason,\n      human_approved: humanApproved,\n      confirmation,\n      risk_score: riskScore,\n      status,\n      decision: status === 'VALIDATED' ? 'ACCEPTED' : 'REJECTED',\n      accepted: status === 'VALIDATED',\n      issued_at: action.issued_at || now,\n      validated_at: now,\n      rejection_reasons: rejectionReasons,\n      safety_snapshot: safetySnapshot,\n      writes: status === 'VALIDATED' ? writes : [],\n      audit_required: true,\n    },\n    control_rejected: status === 'REJECTED',\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        704
      ],
      "id": "79b3302c-fe0b-44e5-bc82-4060fa060120",
      "name": "Control Safety Gate"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst command = input.control_command || {};\n\nif (command.status !== 'VALIDATED') {\n  return [];\n}\n\nreturn (command.writes || []).map((write, index) => ({\n  json: {\n    ...input,\n    write_index: index,\n    thing_id: command.thing_id,\n    correlation_id: command.correlation_id,\n    command_id: command.command_id,\n    command_name: command.command,\n    command_label: command.label,\n    command_status: 'DISPATCHED',\n    path: write.path,\n    value: write.value,\n    issued_at: command.issued_at,\n    audit_payload: {\n      command_id: command.command_id,\n      correlation_id: command.correlation_id,\n      thing_id: command.thing_id,\n      command: command.command,\n      requested_by: command.requested_by,\n      source_agent: command.source_agent,\n      reason: command.reason,\n      risk_score: command.risk_score,\n      ditto_path: write.path,\n      value: write.value\n    }\n  }\n}));\n\r\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        800
      ],
      "id": "60d53d94-1e6e-4865-a307-182e0b561f20",
      "name": "Explode Ditto Writes"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, dead_letter: true, failed_at: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        896
      ],
      "id": "b62a32f6-7821-4a7a-bddb-53d33f1273c1",
      "name": "Dead-Letter Control Write"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Receive Control Command": {
      "main": [
        [
          {
            "node": "Control Safety Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT Desired State to Ditto": {
      "main": [
        [
          {
            "node": "Audit Successful Ditto Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dead-Letter Control Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Ditto Writes": {
      "main": [
        [
          {
            "node": "PUT Desired State to Ditto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dead-Letter Control Write": {
      "main": [
        [
          {
            "node": "Audit Failed Ditto Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Safety Gate": {
      "main": [
        [
          {
            "node": "Persist Control Command State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route: Control Validated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Control Validated?": {
      "main": [
        [
          {
            "node": "Audit Control Dispatch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Explode Ditto Writes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Control Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3943adf5-2e9d-48b4-89be-b95eeb523679",
  "meta": {
    "instanceId": "417ede3735a1a3ac213ca021cd26620099d309138c4710d0d002e06e112f89de"
  },
  "id": "fYSnnxjFFZ1KKXZK",
  "tags": []
}