workflows/n8n/07_system_health.json
{
  "name": "07_system_health",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "f7000001-0001-4a00-9000-000000000001",
      "name": "Schedule: Health Check Every 1m",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS ok;",
        "options": {}
      },
      "id": "f7000002-0002-4a00-9000-000000000002",
      "name": "Probe Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "Y3xIBg0WwpRKadx2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ ($env.DITTO_BASE_URL || 'http://docker-nginx-1') + '/api/2/things/' + ($env.PRIMARY_THING_ID || 'building:floor1:elevator') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 4000
        }
      },
      "id": "f7000005-0005-4a00-9000-000000000005",
      "name": "Probe Ditto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        448,
        0
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "DHKgydzDWawM8nkx",
          "name": "Authentication"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Ditto status comes from the upstream Probe Ditto httpRequest node (success on\n// main output 0, error item on output 1 via continueErrorOutput). Postgres is\n// proven UP by the upstream Probe Postgres node; n8n is UP because this runs.\nconst r = $input.first().json || {};\nconst now = new Date().toISOString();\nconst thingId = $env.PRIMARY_THING_ID || 'building:floor1:elevator';\nconst dittoUp = !!(r.thingId || r.policyId || r.attributes || r.features || r._modified);\nconst dittoErr = dittoUp\n  ? ''\n  : String((r.error && (r.error.message || r.error.description)) || r.message || 'ditto_unreachable_or_error').slice(0, 200);\nreturn [\n  { json: { thing_id: thingId, component: 'ditto', status: dittoUp ? 'UP' : 'DOWN', latency_ms: 0, error_message: dittoErr, checked_at: now } },\n  { json: { thing_id: thingId, component: 'postgres', status: 'UP', latency_ms: 0, error_message: '', checked_at: now } },\n  { json: { thing_id: thingId, component: 'n8n', status: 'UP', latency_ms: 0, error_message: '', checked_at: now } }\n];\n"
      },
      "id": "f7000003-0003-4a00-9000-000000000003",
      "name": "Aggregate Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO system_health_history (thing_id, component, status, latency_ms, error_message, checked_at) VALUES ($1, $2, $3, $4::integer, $5, COALESCE($6::timestamptz, NOW()));",
        "options": {
          "queryReplacement": "={{ [$json.thing_id, $json.component, $json.status, Number($json.latency_ms || 0), $json.error_message || null, $json.checked_at] }}"
        }
      },
      "id": "f7000004-0004-4a00-9000-000000000004",
      "name": "Insert Health Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "Y3xIBg0WwpRKadx2",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: Health Check Every 1m": {
      "main": [
        [
          {
            "node": "Probe Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Probe Postgres": {
      "main": [
        [
          {
            "node": "Probe Ditto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Probe Ditto": {
      "main": [
        [
          {
            "node": "Aggregate Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Health": {
      "main": [
        [
          {
            "node": "Insert Health Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Algiers"
  },
  "versionId": "00000000-system-health-0000-000000000002",
  "meta": {
    "instanceId": "417ede3735a1a3ac213ca021cd26620099d309138c4710d0d002e06e112f89de"
  },
  "id": "SYSTEMHEALTH0001",
  "tags": []
}
